<html lang="en" xmlns:th="hhtp://www.w3.org/1999/xhtml">
<head>
<title>RemoveTicket</title>
<link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"/>
</head>
	<header class="site-header sticky-top py-1" style="background-color:black">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="#" aria-label="Product">
    </a>
    <a class="py-2 d-none d-md-inline-block col-12 text-center" href="../admin"><h1>AIRPLANE Admin System</h1></a>


<nav class="navbar navbar-dark navbar-expand-lg navbar-togglable fixed-top">
      <div class="container">
    
        <!-- Navbar brand (mobile) -->
        <h1 class="navbar-brand d-lg-none"></h1>
    
        <!-- Navbar toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Navbar collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
    
          <!-- Navbar nav -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link " href="newticket">New</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="removeticket">Remove</a>
            </li>
          </ul>
    
          <!-- Navbar brand -->
     
    
          <!-- Navbar nav -->
          <ul class="navbar-nav">
          <li>
              <a class="nav-link " href="updateticket">Update</a>
              </li>
          </ul>
    
        </div>
      </div>
    </nav>


  </nav>
</header>
<body>

<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Remove Ticket</p>

                <form class="mx-1 mx-md-4" action = "delete" method = "post" >

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example1c" class="form-control" name = "id"/>
                      <label class="form-label" for="form3Example1c">Enter ID</label>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Remove</button>
                  </div>

                </form>

              </div>
         
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
</body>
</html>